{% extends 'reseller/base.html' %}

<!-- header block -->
{% block header %}
<h1>{% block title %}Add Item{% endblock %}</h1>
{% endblock %}

<!-- content block -->
{% block main %}
<div class="row my-5 justify-content-between px-5">
<div class="col-lg-4">
  <form method="POST" action="">
    {{form.hidden_tag()}}
    <div class="row">
      {{form.category.label}}
      {{form.category(class_='form-control')}}
    </div>
    <div class="row">
      {{form.price.label}}
      {{form.price(class_='form-control')}}
    </div>
    <div class="row">
      {{form.title.label}}
      {{form.title(class_='form-control')}}
    </div>
    <div class="row">
      {{form.description.label}}
      {{form.description(class_='form-control')}}
    </div>
    <div class="row">
      {{form.quantity.label}}
      {{form.quantity(class_='form-control')}}
    </div>
    
    <hr class="mb-4"/>
    {{form.submit(class_='form-control btn btn-dark text-white')}}
  </form>
  
</div>
</div>
{% endblock %}