{%if session['role']== 'Buyer'%}
{% extends 'buyer/base.html' %}


{%elif session['role']== 'Reseller'%}
{% extends 'reseller/base.html' %}

{%elif session['role']== 'Admin'%}
{% extends 'Admin/base.html' %}

{%endif%}

<!-- title -->
{% block title %}Malak Souq - Edit Profile{% endblock %}

<!-- content block -->
{% block main %}

<!-- edit user -->
<div class="row my-5">
  <div class="col-lg-8">
    <h3>
    Edit User
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    
  <form method="POST">
    {{form.hidden_tag()}}
    <div class="mb-3">
      {{form.first_name.label}}
      {{form.first_name(class_="form-control text-muted")}}
    </div>
    <div class="mb-3">
      {{form.last_name.label}}
    {{form.last_name(class_="form-control text-muted")}}
    </div>
    <div class="mb-3">
      {{form.birthdate.label}}
      {{form.birthdate(class_="form-control text-muted")}}
    </div>
    <div class="my-3">
    {{form.submit(class_="btn btn-success")}}
  </div>

  </form>
</div>
</div>
{% endblock %}