{% extends 'buyer/base.html' %}
<!-- title -->
{% block title %}mysouq - {{session['first_name'] | title}} Items{% endblock %}

<!-- content block -->



{% block main %}
<div class="row my-auto mx-auto container">

    
    <div class="col-lg-12">

    {%if items%}
        <div class="row my-5 justify-content-between px-5">

            <div class="col-lg-10">
                <h3>
                    Souq Items
                </h3>
            </div>
            <div class="col">
                
                <li class="nav-item dropdown btn-group dropdown">
                    <button class="btn btn-success dropdown-toggle" id="navbarDropdownMenuLink" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Filter
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{url_for('buyer.price_ascending')}}">Price Ascending </a></li>
                        <li><a class="dropdown-item" href="{{url_for('buyer.price_descending')}}">Price Descending </a></li>
                        <li><a class="dropdown-item" href="{{url_for('buyer.date_ascending')}}">Date Ascending</a></li>
                        <li><a class="dropdown-item" href="{{url_for('buyer.date_descending')}}">Date Descending</a></li>
                    </ul>
                </li>
            </div>

        </div>

        <div class="row container">

            {% for item in items %}
            {%if item.visibility == True%}
            <div class="col-lg-4 col-md-6 col-sm-12">

                <!-- post card -->
                <div class="card bg-light mb-3">

                    <!-- card header -->
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="card-title">{{ item.title }}</h5>
                            </div>
                            <div class="col-2">
                                {%if item.id not in favorite_items%}
                                <span title="add to favorite">
                                    <a href="{{url_for('buyer.add_to_favorite', item_id= item.id)}}">
                                        <i class="far fa-star text-warning"></i>
                                    </a>
                                </span>
                                {%else%}
                                <i class="fas fa-star text-warning"></i>
                                {%endif%}
                            </div>
                            <div class="col-2">
                                <span title="add to cart">
                                    <a href="{{url_for('buyer.buy_item', item_id= item.id)}}">
                                        <i class="fas fa-shopping-basket text-success"></i>
                                    </a>
                                </span>

                            </div>
                        </div>

                        <p class="card-subtitle mb-2 text-muted"> Price: {{item.price}}$</p>
                        <p class="card-subtitle mb-2 text-muted"> Date: {{ item.date.strftime('%d-%m-%Y %H:%M')}}</p>
                    </div>

                    <!-- card body -->
                    <div class="card-body">
                        <p class="card-text">Category: {{item.category }}</p>
                        <p class="card-text">Description: {{item.description}}</p>
                        <p class="card-text">In stock: {{item.quantity}}</p>
                    </div>

                </div>
            </div>
            {%endif%}
            {%endfor%}

            {%else%}
            <h3>mysouq is empty.</h3>

            {% if session['upgraded'] == Treu %}
            <a href="{{url_for('reseller.add_item')}}">
                <h6>Would you like to add new item?</h6>
            </a>
            {%endif%}
            
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}