{% extends 'buyer/base.html' %}
<!-- title -->
{% block title %}Malak Souq - Search Items{% endblock %}

<!-- content block -->



{% block main %}
<div class="row my-5 justify-content-between">
    <div class="col-lg-8 col-md-6 col-sm-12 align-self-center">
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <div class="row my-3">
                <div class="col">
                    {{form.keyword(class_="form-control form-control-lg", name_="keyword")}}
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    {{form.search(class_="form-control form-control-lg btn btn-dark")}}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}