{% extends 'buyer/base.html' %}
<!-- title -->
{% block title %}Profile{% endblock %}

<!-- content block -->
{% block main %}

<div class="row justify-content-center">

  <div class="col-6">

    <div class="row my-5 mx-auto justify-content-end">
      {%if buyer.id ==session['uid'] %}
      <div><a class="btn btn-success" href="{{url_for('buyer.edit_buyer',buyer_id=session['uid'])}}">edit profile</a></div>
      {%endif%}
    </div>
    <div class="row my-5 mx-auto justify-content-center">

      <i  class="fas fa-user-circle fa-7x"></i>
    </div>

    <!-- posts header -->
    <div class="row my-2 mx-auto justify-content-center text-muted">
    <p> {{buyer.email}} ({{buyer.role}})</hh66>
    </div>
    <div class="row my-2 mx-auto justify-content-center">

      
      <h3> {{buyer.first_name | title}} {{buyer.last_name | title}}</h3>


    </div>

    <div class="row my-2 mx-auto justify-content-center">
      <h5>({{buyer.birthdate}})</h5>
    </div>


  </div>
</div>

<hr>

{%endblock%}