{% extends 'buyer/base.html' %}
<!-- title -->
{% block title %}Profile{% endblock %}

<!-- content block -->
{% block main %}

<div class="row justify-content-center">

  <div class="col-6">

    {%if buyer.upgraded_to_reseller == False %}
    <div class="row my-5 mx-auto justify-content-end">
      {%if buyer.id ==session['uid'] %}
      <a class="btn btn-success" href="{{url_for('buyer.reseller_upgrade',buyer_id=session['uid'])}}">Upgrade to
        reseller</a>
      {%endif%}
    </div>
    {%endif%}


    <div class="row my-5 mx-auto justify-content-center">

      <i class="fas fa-user-circle fa-7x"></i>
    </div>

    <!-- posts header -->
    <div class="row my-2 mx-auto justify-content-center text-muted">

      {%if buyer.upgraded_to_reseller == False %}
      <p> {{buyer.email}} ({{buyer.role}})</hh66>
        {%else%}
      <p> {{buyer.email}} ({{buyer.role}}/Reseller)</hh66>
        {%endif%}
    </div>
    <div class="row my-2 mx-auto justify-content-center">


      <h3> {{buyer.first_name | title}} {{buyer.last_name | title}}</h3>


    </div>

    <div class="row my-2 mx-auto justify-content-center">
      <h5>({{buyer.birthdate}})</h5>
    </div>

    <div class="row row my-2 mx-auto justify-content-center">
      {%if buyer.id ==session['uid'] %}
      <a class="btn btn-success" href="{{url_for('buyer.edit_buyer',buyer_id=session['uid'])}}">Edit Profile</a>
      {%endif%}
    </div>

  </div>
</div>

<hr>

{%endblock%}