{% extends 'admin/base.html' %}

<!-- header block -->
{% block header %}
<h1>{% block title %}Users{% endblock %}</h1>
{% endblock %}

<!-- content block -->
{% block main %}

<div class="container my-5">
  <h2>Report</h2>
</div>

<table class="table container my-5">

  <tbody class="container">
    {% for info in report_info%}
    {% for key,value in info.items()%}
    <tr>
      <th scope="row">{{key}}</th>
      <td>{{value}}</td>
    </tr>
    {%endfor%}
    {%endfor%}
  </tbody>
</table>

{% endblock %}