{% extends 'admin/base.html' %}
<!-- title -->
{% block title %}Profile {% endblock %}

<!-- content block -->
{% block main %}

<div class="row justify-content-center">

  <div class="col-6">

    <div class="row my-5 mx-auto justify-content-center">

      <img src="{{user['picture_url']}}" class="rounded-circle" width="320" height="200" alt="Profile">
    </div>

    <!-- posts header -->
    <div class="row my-2 mx-auto justify-content-center">

      <h3> {{user['first_name'] | title}} {{user['last_name'] | title}} ({{user['username']}}) </h3>

      {%if user.id ==session['uid'] %}
      <div><a class="btn btn-success" href="#"> <i class="far fa-edit"></i></a></div>
      {%endif%}

    </div>

    {%if user['biography']%}
    <div class="row my-2 mx-auto justify-content-center">
      <h5>({{user['biography']}})</h5>
    </div>
    {%endif%}


  </div>
</div>

<hr>

{%endblock%}